<div class="container pb-5">
  <% @users.each do |user| %>
    <% if !user.dogs.empty? %>
      <ul>
        <li><strong><%= user.first_name.capitalize %></strong></li>
        <li><%= user.age %> years</li>
        <% user.dogs.each do |dog| %>
          <li><strong><%= dog.name.capitalize %></strong></li>
          <li><%= dog.age %> years</li>
          <li><%= dog.gender.capitalize %></li>
          <li><%= dog.breed.capitalize %></li>
        <% end %>
      </ul>
      <%= link_to "View Profile", show_profile_path(user) %>
      <p>-----------------------</p>
    <% end %>
  <% end %>
</div>
