<div class="container pb-5 pt-3 mb-5" style="background-color:white;">
  <h1 class="text-center fw-semibold text-dark">
    <% @user.dogs.each do |dog| %>
      <% if dog == @user.dogs.first %>
        <%= "#{dog.name.capitalize} " %>
      <% else %>
        <%= "+ #{dog.name.capitalize}" %>
      <% end %>
    <% end %>
    <small class="fw-light fst-italic"> owned by <%= @user.first_name %></small>
  </h1>
  <p class="text-center"><strong>Overview:</strong> <%= @user.overview %></p>
  <%# Dog Tabs %>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <% @user.dogs.each_with_index do |dog, index| %>
    <li class="nav-item" role="presentation">
      <button class="<%= index == 0 ? "nav-link active" : "nav-link" %>" id="tab-<%=index%>" data-bs-toggle="tab" data-bs-target="#tab-<%=index%>-pane" type="button" role="tab" aria-controls="tab-<%=index%>-pane" aria-selected="<%= index == 0 ? "true" : "false" %>"><%= dog.name.capitalize %></button>
    </li>
  <% end %>
  </ul>
  <%# Dog Tabs Content %>
  <div class="tab-content border mb-2 pb-2" id="myTabContent">
  <% @user.dogs.each_with_index do |dog, index| %>
    <div class="<%= index == 0 ? "tab-pane fade show active" : "tab-pane fade" %>" id="tab-<%=index%>-pane" role="tabpanel" aria-labelledby="tab-<%=index%>" tabindex="0">
      <%# Dog Image Carousel %>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% if dog.photos.attached? %>
            <% dog.photos.each_with_index do |photo, index| %>
              <div class="<%= index == 0 ? "carousel-item active" : "carousel-item" %>">
                <%= cl_image_tag photo.key, class: "d-block w-100", height: 400, width: 400, crop: :fill %>
              </div>
            <% end %>
          <% else %>
            <div class="carousel-item active">
              <%= image_tag "dog.png", class: "d-block w-100"%>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <%# Dog Details %>
      <div class="row p-2">
        <div class="col">
          <h3 class="py-1" ><%= dog.name.capitalize %>, <%= dog.age %>
          <% if dog.gender.downcase == "female" %>
            <iconify-icon icon="material-symbols:female"></iconify-icon>
          <% else %>
            <iconify-icon icon="material-symbols:male"></iconify-icon>
          <% end %>
          </h3>
          <p><iconify-icon icon="ph:ruler"></iconify-icon> <%= dog.size.capitalize %></p>
          <p><iconify-icon icon="fa-solid:dog"></iconify-icon> <%= dog.breed.capitalize %></p>
        </div>
        <div class="col d-flex justify-content-center align-items-center flex-wrap">
          <% if dog.personality %>
            <% dog.personality.each do |trait| %>
              <% if trait != "" %>
                <p class="btn btn-light m-1"><i><%= trait %></i></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @user == current_user %>
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary text-white mx-1"><%= link_to "Edit #{dog.name.split.first.capitalize}", edit_dog_path(dog), class: "text-decoration-none text-reset" %></button>
        <button type="button" class="btn btn-primary text-white mx-1"><%= link_to "Delete #{dog.name.split.first.capitalize}",
                    dog_path(dog),
                    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
                    class: "text-decoration-none text-reset"
        %></button>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>
  <%# Owner Details %>
  <div class="border p-2">
  <div class="d-flex justify-content-center align-items-center">
    <% if @user.photo.attached? %>
      <%= cl_image_tag(@user.photo.key, :transformation=>[{:gravity=>"face", :height=>400, :width=>400, :crop=>"crop"}, {:radius=>"max"}, {:width=>70, :crop=>"scale"}]) %>
    <% else %>
      <%= image_tag "person.png", width: 70, class: "rounded-circle" %>
    <% end %>
    <h3 class="ps-3"><%= @user.first_name.capitalize %>, <%= @user.age %>
    <% if @user.gender.downcase == "female" %>
      <iconify-icon icon="material-symbols:female"></iconify-icon>
    <% else %>
      <iconify-icon icon="material-symbols:male"></iconify-icon>
    <% end %>
    </h3>
  </div>
  <% if @user == current_user %>
  <div class="d-flex justify-content-center mt-2">
    <button type="button" class="btn btn-primary text-white mx-1"><%= link_to "Update your profile", edit_user_registration_path, class: "text-decoration-none text-reset" %></button>
    <button type="button" class="btn btn-primary text-white mx-1"><%= link_to "Add a dog", new_dog_path, class: "text-decoration-none text-reset" %></button>
  </div>
  <% end %>
  </div>
</div>
