<div class='container'>
  <h2 class=text-center>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true %>
      <%= f.input :age,
                  label: "Age (18+)",
                  required: true,
                  autofocus: true %>
      <%= f.input :gender, collection: User::GENDER,
                  required: true,
                  autofocus: true %>
      <%= f.input :address,
                  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>
      <%= f.input :overview,
                  label: "Write an overview about you and your dogs",
                  required: false,
                  autofocus: true %>
      <%= f.input :photo,
                  as: :file,
                  label: "Your (ðŸ§) photo",
                  required: false %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
