<div class="container">
  <div class='text-center d-flex my-6'>
    <div class="login col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-6" style="justify-content: center;">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-signin", data: { turbo: :false }}) do |f| %>
          <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
          <%= f.label :email, class: "sr-only" %>
          <%= f.text_field :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, class: "form-control mb-1", placeholder: "Email address" %>
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, required: false, autofocus: true, input_html: { autocomplete: "email" }, class: "form-control", placeholder: "Password" %>
            <label class = m-2>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
        <div class="form-actions">
          <%= f.submit "Log in", class:"btn btn-lg btn-primary btn-block" %>
        </div>
          <p class="mt-5 mb-3 text-muted">© 2022-2023</p>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
