<%= turbo_frame_tag dom_id(match) do %>
  <% if match.persisted? %>
  <li> (Prematch) <%= match.matcher.first_name%>
    <%= link_to "Accept", match_path(match, match:{ status: "accepted" }), data: {turbo_method: "PATCH"} %>
    <%= link_to "Decline", match_path(match, match:{status: "declined"}), data: {turbo_method: "PATCH"}  %>
  </li>
  <% else %>
  <li> (Prospective match) <%= match.matchee.first_name%>
    <%= link_to "Accept", create_match_path(match, match:{status: "pending", matchee_id: match.matchee_id, matcher_id: match.matcher_id}), data: {turbo_method: "POST"} %>
    <%= link_to "Decline", create_match_path(match, match:{status: "declined", matchee_id: match.matchee_id, matcher_id: match.matcher_id}), data: {turbo_method: "POST"}  %>
  </li>
  <% end%>
<% end %>
