<div class="container" style="margin-bottom:200px;">
  <%= turbo_stream_from dom_id(current_user, :matches) %>
  <h1 style="text-align:center;">Matches</h1>

    <div class="wrapper" style="margin-top: 16px;">
      <% @matches1.each do |match| %>
      <% match.matcher.dogs.each do |dog| %>
        <%=link_to match_path(match) do %>
        <div class="item" style="margin-right:15px; color:black; font-size: 18px;">
          <%=cl_image_tag dog.photos.first.key, height: 70, width: 70, crop: :fill%>
        <p><%=dog.name%></p>
        </div>
        <% end %>
      <% end %>
      <% end %>
      <% @matches2.each do |match| %>
      <% match.matchee.dogs.each do |dog| %>
      <%=link_to match_path(match) do %>
        <div class="item" style="margin-right:15px; color:black; font-size: 18px;">
          <%=cl_image_tag dog.photos.first.key, height: 70, width: 70, crop: :fill%>
        <p><%= dog.name%></p>
        </div>
        <% end %>
      <% end %>
      <% end %>
    </div>

    <%= render "matches/chat_cards"%>
</div>
